
.idea/.name

.idea/workspace.xml

AllegroTime.xcodeproj/project.xcworkspace/xcuserdata/Dima.xcuserdatad/UserInterfaceState.xcuserstate

AllegroTime.xcodeproj/xcuserdata/Dima.xcuserdatad/xcschemes/AllegroTime.xcscheme

AllegroTime.xcodeproj/project.xcworkspace/contents.xcworkspacedata

AllegroTime.xcodeproj/xcuserdata/Dima.xcuserdatad/xcschemes/xcschememanagement.plist

AllegroTime/TestView1.xib
